*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: blue;
    margin-bottom: 15px;
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.small{
    flex-basis: 20%;
    background-color: burlywood;
}

.big{
    flex-basis: 40%;
    background-color: burlywood;
}

 /* NAVBAR COMPLETATA */

 #titolo-2button{
    width: 60%;
    margin: auto;
    background-color: cyan;
    margin-top: 20px;
 }

 /* HEADER COMPLETATO */

 .no-right{
    background-color: gold;
    margin: 20px 0;
 }

 .image{
    flex-basis: 45%;
    background-color: darkorchid;
    padding: 10px;
 }

 .text{
    flex-basis: 45%;
    background-color: firebrick;
    padding: 10px;
 }

 .reverse{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    flex-direction: row-reverse;
 }

 .column{
    flex-direction: column;
 }

 .column div{
    margin: 5px 0;
 }

 .little-title{
    background-color: chocolate;
 }

 .image2{
    background-color: rgb(15, 127, 161);
 }

 .button2{
    background-color: rgb(170, 29, 116);
 }

 /* <!-- FINE MAIN + INIZIO FOOTER --> */

 #social{
    flex-basis: 32%;
    background-color: red;
 }

 #product{
    flex-basis: 17%;
    background-color: cornflowerblue;
 }

 #company{
    flex-basis: 17%;
    background-color: red;
 }

 #resources{
    flex-basis: 17%;
    background-color: cornflowerblue;
 }

 #standards{
    flex-basis: 17%;
    background-color: red;
 }

 /* 2°PARTE DEL FOOTER */

 footer{
    margin-top: 20px;
 }


 