*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.container .nav-bar{
    background-color: burlywood;
}

.small{
    flex-basis: 20%;
}

.big{
    flex-basis: 40%;
}

 /* NAVBAR COMPLETATA */

 #titolo-2button{
    width: 60%;
    margin: auto;
    background-color: cyan;
    margin-top: 20px;
 }